body {
    text-align: center;
    vertical-align: top;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-repeat: no-repeat;
    background-position-x: center;
}

#elements {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    text-align: center;
}

#cat {
    font-size: 1.2em;
}

input {
    border: none;
    border-radius: 25px;
    padding: 20px;
    margin: 10px;
}

img {
    width: 100%;
}

video {
    height: calc(100vh-20px);
}

#videoId, #btnSearch {
    text-align: center;
}

#videoId {
    background: white;
}

#btnSearch {
    background: yellow;
}

#buttons {
    max-width: 300px;
    vertical-align: middle;
}

#details, #suggested {
    max-width: 180px;
    vertical-align: top;
}

#buttons, #details, #suggested {
    display: inline-block;
    margin: 10px;
}